header {
    background-color: #5d4037;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

a {
    text-decoration: none;
    color: #fff8e1; 
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover {
    background-color: #3e2723; 
    color: #f3e5d8; 
}

footer {
    background-color: #3e2723;
    color: white;
    text-align: center;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
}